{% load i18n staticfiles avatar_tags %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog - {% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
    <meta name="robots" content="follow, all" />
    <meta name="description" content="{% block meta-description %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock meta-keywords %}" />
    <meta name="author" content="" />
    {% block meta %}{% endblock meta %}
{#    <link rel="pingback" href="/xmlrpc/" />#}
{#    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />#}
    <link rel="stylesheet" href="{% static "zinnia_bootstrap/bootstrap/css/bootstrap.min.css" %}" />

    <style type="text/css">
      body {
        padding-top: 70px;
      }
      body > nav img {
        margin-top: 5px;
        margin-left: 10px;
      }
      p.entry-discussions {
        margin-bottom: 0px;
      }
    </style>
    <!--[if lt IE 9]>
        <script src="{% static "zinnia_bootstrap/assets/js/html5shiv.js" %}"></script>
        <script src="{% static "zinnia_bootstrap/assets/js/respond.min.js" %}"></script>
    <![endif]-->
{#    <link rel="shortcut icon" href="{% static "zinnia/theme/img/favicon.ico" %}" />#}
{#    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "zinnia_bootstrap/assets/ico/apple-touch-icon-144-precomposed.png" %}" />#}
{#    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "zinnia_bootstrap/assets/ico/apple-touch-icon-114-precomposed.png" %}" />#}
{#    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "zinnia_bootstrap/assets/ico/apple-touch-icon-72-precomposed.png" %}" />#}
{#    <link rel="apple-touch-icon-precomposed" href="{% static "zinnia_bootstrap/assets/ico/apple-touch-icon-57-precomposed.png" %}" />#}
    {% if request.LANGUAGE_CODE == "el" %}
    <link href="{{ STATIC_URL }}css/blog-el.css" rel="stylesheet"/>
    {% else %}
    <link href="{{ STATIC_URL }}css/blog-en.css" rel="stylesheet"/>
    {% endif %}

    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>
  <body class="zinnia {% block body-class %}{% endblock body-class %}">
  <!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container">
        <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <i class="fa fa-navicon fa-lg"></i>
	      </button>
	      <a class="navbar-brand" href="{% url "home" %}">GeoNode</a>
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav toolbar">
	        <li id="nav_layers">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Data" %}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=general">{% trans "General" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=exposure">{% trans "Exposure" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=hazard">{% trans "Hazard" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=vulnerability">{% trans "Vulnerability" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=risk">{% trans "Risk" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=resilience">{% trans "Resilience" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "layer_browse" %}">{% trans "Layers" %}</a></li>
                <li><a href="{% url "document_browse" %}">{% trans "Documents" %}</a></li>
                <!--<li class="dropdown-submenu">-->
                  <!--<a href="#">{% trans "Categories" %}<i class="fa fa-angle-right fa-lg fa-fw"></i></a>-->
                  <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">3rd level dropdown</a></li>-->
                    <!--<li><a href="#">3rd level dropdown</a></li>-->
                  <!--</ul>-->
                <!--</li>-->
                {% if user.is_authenticated %}
                <li><a href="{% url "services" %}">{% trans "Remote Services" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a></li>
                <li><a href="{% url "document_upload" %}">{% trans "Upload Document" %}</a></li>
                <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
                {% endif %}
              </ul>
            </li>
	        <li id="nav_maps">
              {% if user.is_authenticated %}
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Maps" %}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "maps_browse" %}">{% trans "Explore Maps" %}</a></li>
                <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
              </ul>
              {% else %}
              <a href="{% url "maps_browse" %}">{% trans "Maps" %}</a>
              {% endif %}
            </li>
            <li>
              <a href="/blog" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
            </li>
            <li>
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "About" %}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
                <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
                {% if perms.announcements.can_manage %}
                <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li role="separator" class="divider"></li>
                <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
                <li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
                <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
	      <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds">
                {% trans "RSS Feed" %}
              </a>
	        </li>
            {% if not user.is_authenticated and REGISTRATION_OPEN %}
            <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
            {% endif %}
            {% if user.is_authenticated %}
            <li><a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% avatar user 42 %} {{ user.username }}<i class="fa fa-angle-down fa-lg"></i></a>
              <ul class="dropdown-menu">
                <li><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
                <li><a href="{% url "recent-activity" %}">{% trans "Recent Activity" %}</a></li>
                <li><a href="{% url "messages_inbox" %}">{% trans "Inbox" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "admin:index" %}">Admin</a></li>
                <li><a href="{{ GEOSERVER_BASE_URL }}">GeoServer</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url "help" %}">{% trans "Help" %}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/account/logout/">Logout</a></li>
                </ul>
              </li>
		      {% else %}
		      <li><a href="#" data-toggle="modal" data-target="#SigninModal" role="button" >{% trans "Sign in" %} </a></li>
              {% endif %}
            </ul>
          </div> <!--/.nav-collapse -->
        </div>
      </nav>
    <!-- End of Navbar -->
{#    {% block slider %}{% endblock %}#}

    <div class="container">
      <div class="row">
       <div class="hfeed col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% block breadcrumbs %}{% endblock %}
       </div>
        <div id="content" class="hfeed col-xs-12 col-sm-8 col-md-8 col-lg-8">
          {% block content %}
          <div class="links">
            <h3>{% trans "Useful links" %}</h3>
            <ul>
              <li>
                <a href="{% url 'zinnia:entry_archive_index' %}" title="{% trans "Weblog index" %}">
                  {% trans "Weblog index" %}
                </a>
              </li>
              <li>
                <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}">
                  {% trans "Sitemap" %}
                </a>
              </li>
            </ul>
          </div>
          <div class="search">
            <h3>{% trans "Search" %}</h3>
            {% include "zinnia/tags/search_form.html" %}
          </div>
          {% endblock content %}
        </div>
        <div id="sidebar" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          {% block sidebar %}
          {% endblock sidebar %}
        </div>
      </div>
    </div>

    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <ul class="list-unstyled">
                <li>{% trans "Data" %}</li>
                <li><a href="{% url "layer_browse" %}">{% trans "Layers" %}</a></li>
                <li><a href="{% url "document_browse" %}">{% trans "Documents" %}</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url "services" %}">{% trans "Remote Services" %}</a></li>
                <li><a href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a></li>
                <li><a href="{% url "document_upload" %}">{% trans "Upload Document" %}</a></li>
                <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
                {% endif %}
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="list-unstyled">
                <li>{% trans "Maps" %}</li>
                <li><a href="{% url "maps_browse" %}">{% trans "Explore Maps" %}</a></li>
                {% if user.is_authenticated %}
                <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
                {% endif %}
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="list-unstyled">
                <li>{% trans "Categories" %}</li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=general">{% trans "General" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=exposure">{% trans "Exposure" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=hazard">{% trans "Hazard" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=vulnerability">{% trans "Vulnerability" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=risk">{% trans "Risk" %}</a></li>
                <li><a href="/search/?limit=100&offset=0&keywords__slug__in=resilience">{% trans "Resilience" %}</a></li>
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="list-unstyled">
                <li>{% trans "About" %}</li>
                <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
                <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
                {% if perms.announcements.can_manage %}
                <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
                {% endif %}
                {% if user.is_superuser %}
                <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
                <li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
                <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
                {% endif %}
              </ul>
            </div>
            <div class="col-md-4 text-right">
              <ul class="list-unstyled">
                <li>Powered by <a href="http://geonode.org">GeoNode</a> {{ VERSION }} <!--<em>{% trans "version" %} {{ VERSION }}</em>--></li>
                <li>Developed by <a href="http://okfn.gr/">Open Knowledge Greece</a><li>
                <!--<li><a href="{% url "developer" %}">{% trans "Developers" %}</a> | <a href="{% url "about" %}">{% trans "About" %}</a><li>-->
              </ul>
              <label class="hidden">{% trans "Language" %}</label>
              {% if csrf_token != "NOTPROVIDED" %}
              {% get_current_language as LANGUAGE %}
              <form class="form-inline" action="/i18n/setlang/" method="post">
              {% csrf_token %}
                <select class="col-md-6 pull-right" name="language" onchange="javascript:form.submit()">
                  {% for lang in LANGUAGES %}
                  <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                    {{ lang.1 }}
                  </option>
                  {% endfor %}
                </select>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
    </footer>

    <!-- Modal must stay outside the navbar -->
    {% if not user.is_authenticated %}
    <div class="modal fade" id="SigninModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Sign in" %}</h4>
          </div>
          <form class="form-signin" role="form" action="{% url "account_login" %}?next={{ request.path }}" method="post">
            <div class="modal-body">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_username" class="sr-only">{% trans "Username" %}:</label>
                <input id="id_username" class="form-control" name="username" placeholder="{% trans "Username" %}" type="text" />
              </div>
              <div class="form-group">
                <label for="id_password" class="sr-only">{% trans "Password" %}:</label>
                <input id="id_password" class="form-control" name="password" placeholder="{% trans "Password" %}" type="password" />
              </div>
              <label class="checkbox">
                <input type="checkbox" /> {% trans "Remember Me" %}
              </label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- End of Modal -->

    <script type="text/javascript" src="{% static "zinnia_bootstrap/assets/js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "zinnia_bootstrap/bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>