{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About the Portal" %} - {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "Risk Data Portal" %}</h2>
</div>
<div class="row">
<div class="col-md-12">
  {% blocktrans %}<p>The Risk Data Portal of Thessaloniki is an online geospatial data catalog where registered data owners can share geospatial data, metadata and related documents as open data or to a limited group of registered users, and where any user can preview and download geospatial data, metadata and related documents.</p>{% endblocktrans %}
  {% blocktrans %}<p>The Risk Data Portal is intended to help the community of risk stakeholders to improve the Resilience of the city of Thessaloniki.</p>{% endblocktrans %}
  {% blocktrans %}<p>The Risk Data Portal is a project initiated by the <a href="https://thessaloniki.gr/θέλω-από-τον-δήμο/θέλω-να-εξυπηρετηθώ/resilient/">Urban Resilience Initiative for Thessaloniki</a> in collaboration with the <a href="http://www.worldbank.org/">World Bank</a>. The website is jointly managed by the GIS and the eGov departments of the municipality.</p>{% endblocktrans %}
  {% blocktrans %}<p>The Risk Data Portal, based on the open source software GeoNode, has been deployed with technical support from <a href="http://okfn.gr/">Open Knowledge Greece</a> and <a href="http://eofarm.com/">EOFarm P.C.</a>.</p>{% endblocktrans %}
</div>

</div>
{% endblock %}
