{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}

{% block hero %}
  <div class="jumbotron">
      <div class="container">
        {% blocktrans %}<h1>Thessaloniki <br/>Risk Data Portal</h1>{% endblocktrans %}
        <p></p>
        <p></p>
        {% blocktrans %}<h3>A catalog of geospatial risk data in order to strengthen the Resilience of <br/> Municipality of Thessaloniki</h3>{% endblocktrans %}
        {% blocktrans %}<h4>If you have any questions or want to discuss about the platform, join our <a href="https://groups.google.com/forum/#!forum/thessaloniki-risk-data-portal">Google Group</a>.<h4>{% endblocktrans %}
		<p><a class="btn btn-default btn-lg" href="http://riskdata-thessaloniki.readthedocs.io/en/latest/" role="button">{% blocktrans %}Get Started{% endblocktrans %} &raquo;</a></p>
      </div>
  </div>
  {% include "_status_message.html" %}
  {% include "_announcements.html" %}
  {% include "_messages.html" %}
{% endblock %}

{% block mainbody %}
  <div class="big-search">
  	<div class="container">
  		<h1>{% trans "Search for Data" %}</h1>
  		<div class="search">
  			<form id="search" action="{% url "search" %}" >
  				<span class="fa fa-search fa-2x"></span>
  				{% if HAYSTACK_SEARCH %}
  				{% blocktrans %}<input id="search_input" type="text" placeholder="Search" class="form-control" name="q">{% endblocktrans %}
  				{% else %}
  				{% blocktrans %}<input id="search_input" type="text" placeholder="Search" class="form-control" name="title__icontains">{% endblocktrans %}
  				{% endif %}
  			</form>
  		</div>
  		<p><a class="btn btn-default btn-lg" href="/search/">{% trans "Advanced Search" %}</a></p>
  	</div>
  </div>
  
	{% block datasets %}
	<section id="datasets">
		<div class="container">
			<div class="row">
				<div class="container text-center">
					<h1>{% trans "Discover the available datasets" %}</h1>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=basemapAndAdministrative" data-toggle="tooltip" data-placement="auto" title="Βase maps, land cover, topographic maps, land descriptions, political and administrative boundaries, land use maps, zoning maps, cadastral surveys, land ownership." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-map fa-3x"></i>
								<h4>{% trans "Basemap & Administrative" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=business" data-toggle="tooltip" data-placement="auto" title="Economic activities, income and employment, commerce, industry, tourism." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-briefcase fa-4x"></i>
								<h4>{% trans "Business" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=education" data-toggle="tooltip" data-placement="auto" title="Educational facilities and related information." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-university fa-4x"></i>
								<h4>{% trans "Education" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=environment" data-toggle="tooltip" data-placement="auto" title="Environmental resources, protection and conservation, environmental pollution, waste storage and treatment, environmental impact assessment, monitoring environmental risk, nature reserves, landscape." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-leaf fa-4x"></i>
								<h4>{% trans "Environment" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=geology" data-toggle="tooltip" data-placement="auto" title="Earth sciences, geophysical features and processes, minerals, earthquake hazard, landslides, liquefaction, soil composition, permafrost, hydrogeology, erosion." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-globe fa-4x"></i>
								<h4>{% trans "Geology" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=health" data-toggle="tooltip" data-placement="auto" title="Health, health services and safety." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-medkit fa-4x"></i>
								<h4>{% trans "Health" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=housingAndDevelopment" data-toggle="tooltip" data-placement="auto" title="Locations of the municipal properties, strategic buildings." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-home fa-4x"></i>
								<h4>{% trans "Housing & Development" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=population" data-toggle="tooltip" data-placement="auto" title="Population density, census information, demographic data." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-male fa-4x"></i>
								<h4>{% trans "Population" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=publicSafety" data-toggle="tooltip" data-placement="auto" title="Public safety features, police stations and fire stations." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-fire-extinguisher fa-4x"></i>
								<h4>{% trans "Public Safety" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=publicServices" data-toggle="tooltip" data-placement="auto" title="Municipal, Energy, water and waste systems and communications infrastructure and services." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-building fa-4x"></i>
								<h4>{% trans "Public Services" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=recreation" data-toggle="tooltip" data-placement="auto" title="Recreational areas and activities, parks, museums, churches, monuments." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-futbol-o fa-4x"></i>
								<h4>{% trans "Recreation" %}</h4>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-2">
						{% blocktrans %}<a href="/search/?limit=100&offset=0&category__identifier__in=transportation" data-toggle="tooltip" data-placement="auto" title="Road network, railway network, bridges, tunnels, traffic related data, public transportation networks, bicycle paths." >{% endblocktrans %}
							<div class="category">
								<i class="fa fa-road fa-4x"></i>
								<h4>{% trans "Transportation" %}</h4>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
	
	{% block showcase %}
	<section id="showcase">
	  <div class="container">
		<div class="row">
		  <h2>{% trans "Featured Datasets" %}</h2>
		  {% verbatim %}
		  <div ng-app="featured">
			<div ng-repeat="item in featured | limitTo:4">
			  <div class="col-md-3">
				<a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
				<h4>{{ item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}</h4>
			  </div>
			</div>
		  </div>
		  {% endverbatim %}
		</div>
		<p><a href="/search/">{% trans "Explore all datasets" %}</a></p>
	  </div>
	</section>
	{% endblock %}
	<section id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h3>{% trans "For more information please contact the site Administrators." %}</h3>
                  <h4>{% trans "You can also give your feedback and report any issues on Github." %}</h4>
              </div>
              <div class="col-lg-12 text-center">
                  <div class="social-icons">
                      <ul class="list-unstyled">
                          <li><a href="mailto:thessgeonode@gmail.com"><i class="fa fa-envelope fa-3x fa-fw" aria-hidden="true"></i></a></li>
                          <li><a href="https://github.com/okgreece/thess_geonode"><i class="fa fa-github-square fa-3x fa-fw" aria-hidden="true"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
{% endblock %}