{% extends "base.html" %}
{% load i18n %}

 <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>

{% block extra_head %}
	<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">-->
 {% if request.LANGUAGE_CODE == "el" %}
 <link href="{{ STATIC_URL }}css/site_base-el.css" rel="stylesheet"/>
 {% else %}
 <link href="{{ STATIC_URL }}css/site_base-en.css" rel="stylesheet"/>
 {% endif %}
{% endblock %}
{% block extra_tab %}
<li>
  <a href="/blog" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
</li>
{% endblock %}
  
{% block footer %}
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li>{% trans "Data" %}</li>
            <li><a href="{% url "layer_browse" %}">{% trans "Layers" %}</a></li>
            <li><a href="{% url "document_browse" %}">{% trans "Documents" %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url "services" %}">{% trans "Remote Services" %}</a></li>
            <li><a href="{% url "layer_upload" %}">{% trans "Upload Layer" %}</a></li>
            <li><a href="{% url "document_upload" %}">{% trans "Upload Document" %}</a></li>
            <li><a href="{% url "register_service" %}">{% trans "Add Remote Service" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li>{% trans "Maps" %}</li>
            <li><a href="{% url "maps_browse" %}">{% trans "Explore Maps" %}</a></li>
            {% if user.is_authenticated %}
            <li> <a href="{% url "new_map" %}">{% trans "Create Map" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-unstyled">
            <li>{% trans "Categories" %}</li>
            <li><a href="/search/?limit=100&offset=0&keywords__slug__in=general">{% trans "General" %}</a></li>
            <li><a href="/search/?limit=100&offset=0&keywords__slug__in=exposure">{% trans "Exposure" %}</a></li>
            <li><a href="/search/?limit=100&offset=0&keywords__slug__in=hazard">{% trans "Hazard" %}</a></li>
            <li><a href="/search/?limit=100&offset=0&keywords__slug__in=vulnerability">{% trans "Vulnerability" %}</a></li>
            <li><a href="/search/?limit=100&offset=0&keywords__slug__in=risk">{% trans "Risk" %}</a></li>
            <li><a href="/search/?limit=100&offset=0&keywords__slug__in=resilience">{% trans "Resilience" %}</a></li>
            <li><a href="/search/?limit=100&offset=0&keywords__slug__in=osm">{% trans "OpenStreetMap" %}</a></li>
          </ul>
        </div>
		<div class="col-md-2">
          <ul class="list-unstyled">
            <li>{% trans "About" %}</li>
            <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
            <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
            {% if perms.announcements.can_manage %}
            <li><a href="{% url "announcements_list" %}">{% trans "Announcements" %}</a></li>
            {% endif %}
            {% if user.is_superuser %}
            <li><a href="/admin/people/profile/add/">{% trans "Add User" %}</a></li>
            <li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
            <li><a href="{% url "group_create" %}">{% trans "Create Group" %}</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="col-md-4 text-right">
          <label class="hidden">{% trans "Language" %}</label>
          {% if csrf_token != "NOTPROVIDED" %}
          {% get_current_language as LANGUAGE %}
          <form class="form-inline" action="/i18n/setlang/" method="post">
          {% csrf_token %}
            <select class="col-md-6 pull-right" name="language" onchange="javascript:form.submit()">
              {% for lang in LANGUAGES %}
              <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                {{ lang.1 }}
              </option>
              {% endfor %}
            </select>
          </form>
          {% endif %}
        </div>
      </div>
      <div>
        <hr style=" width:75%; border-top:1px solid #838383;">
        <div>Powered by <a href="http://geonode.org">GeoNode</a> {{ VERSION }}
          <span style="float:right;">
            Supported by <a href="http://okfn.gr/">Open Knowledge Greece</a> & <a href="http://eofarm.com/">EOfarm</a>
          </span>
        </div>
      </div>
    </div>
  </footer>
{% endblock footer %}


